
env
.env
venv
.venv
/.coverage
/coverage.xml
/.github/
.git/
.idea
__pycache__
*.pyc
*.pyo
*.pyd
.Python
build/*
dist/*
.tmp/
## OS metadata
.DS_Store
desktop.ini
.cache
.env
logs
app.log
app.log.*
*.sqlite3
*.sqlite3*
*.db
